main {
  flex: 1 0 auto;
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.intro {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.01rem;
  color: var(--menu-active-color);
}

.team-name {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: linear-gradient(45deg, var(--logo-gradient-start), var(--logo-gradient-end));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0;
  line-height: 1;
}

p {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.selector {
  margin-top: 0.7rem;
  width: 100%;
}

.selector label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: var(--menu-active-color);
}

.result {
  display: none;
  margin-top: 2rem;
  width: 100%;
}

.version-info {
  margin-bottom: 1rem;
  color: var(--footer-text-color);
}

.version-info p {
  margin: 5px 0;
  font-size: 1rem;
}

.version-info strong {
  color: var(--menu-active-color);
}

.result-container {
  display: flex;
  gap: 2rem;
}

.description-box, .details-box {
  flex: 1;
  padding: 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.description-box {
  background-color: rgba(100, 255, 218, 0.1);
}

.details-box {
  background-color: rgba(100, 255, 218, 0.05);
}

#version-description {
  font-size: 1.1rem;
  line-height: 1.6;
}

.description-section {
  flex: 1.7;
}

.info-box {
  flex: 1;
  align-self: flex-start;
  background-color: rgba(100, 255, 218, 0.05);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 1.5rem;
}

.cats-type-selector {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.cats-type-box {
  flex: 0 1 45%;
  padding: 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cats-type-box p {
  font-size: 1rem;
  margin-bottom: 1rem;
  flex-grow: 1;
}

.info-button {
  display: inline-block;
  background-color: transparent;
  color: var(--menu-active-color);
  border: 1px solid var(--border-color);
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-width: 74px;
  max-width: 75px;
}

.info-button:hover {
  background-color: var(--button-background);
  color: var(--button-color);
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.support-links {
  margin-top: 1.5rem;
}

#back-button {
  margin-bottom: 0.5rem;
  background-color: var(--button-hover-background);
  color: var(--button-color);
}

#back-button:hover {
  background-color: var(--button-background);
}

#retryButton {
  margin-top: 1rem;
  background-color: #ff6b6b;
  color: var(--button-color);
}

#retryButton:hover {
  background-color: #ff8787;
}

.unsupported-message {
  font-size: 0.9em;
  color: #ff6b6b;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .cats-type-selector {
    flex-direction: column;
  }
  
  .cats-type-box {
    width: 100%;
    margin: 0 0 1rem 0;
  }
  
  .result-container {
    flex-direction: column;
  }
  
  .description-section, .info-box {
    width: 100%;
  }
}
